 //Переменные
$maxWidthContainer: 1390px;
$maxWidthContainerMix:1390;
$md1: $maxWidthContainer + 12px;
$md2: 992px;
$md3: 768px;
$md4: 480px;

//Colors

$r: #FB1F2D;
$br1: #241515;
$br2: #4F4242;
$g: #FFD53F;